
body{
  background-image: url('https://img.freepik.com/free-photo/abstract-blur-furniture-decoration-and-warehouse-store_74190-6646.jpg?w=1480&t=st=1696263470~exp=1696264070~hmac=c12f333a9d8ef122ab76ec922aed9eb29cc3f1e1be20e0d18d38175d8f7ba386');
}

.uppercont{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  
}

.AddButton{
  margin: 0 auto;
  justify-content: center;
}

.container {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5%;
  width: 20%;
  height: 20%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 5px;
}


.card:hover{
  transform:scale(1.1);
    transition: all 0.5s ease-in-out;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    background-color:aliceblue;
}
/* Каюсь, набаловался со стилями
 Но как красиво то а?*/

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-quantity {
  font-size: 14px;
  color: #666;
}

.PM{
  width: 30px;
  height: 30px;
}